@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* .single-slide-one {
    background: url(../Images/img12.jpg) no-repeat center center;
    background-size: cover;
    padding: 80px 0;
    height: 600px;
  }
  .single-slide-two {
    background: url(../Images/img14.jpg) no-repeat center center;
    background-size: cover;
    padding: 80px 0;
    height: 600px;
  }
  .single-slide-three {
    background: url(../Images/img3.jpg) no-repeat center center;
    background-size: cover;
    padding: 80px 0;
    height: 600px;
  }
  

  .baner-color{
    background:linear-gradient(rgba(17, 50, 186, 0.775),rgb(104, 161, 226))
  }
  .banner-text{
   font-weight: 900;
  }
  .banner-sub-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 40px;
  }
  
  @media only screen and (max-width: 600px) {
    .single-slide-one,
    .single-slide-two,
    .single-slide-three {
      height: 200px;
    }
    .single-slide-one h3,
    .single-slide-two h3,
    .single-slide-three h3 {
      margin-top: 10px;
    }
  } */


  .carousel-three{
    background:linear-gradient(rgba(23, 23, 24, 0.284),rgba(22, 23, 23, 0)), url(../Images/img12.jpg) no-repeat center center;
    background-size: cover;
    padding: 220px 40px;
    color: #edf6f9;
  }
  
  .carousel-one{
    background:linear-gradient(rgba(23, 23, 24, 0.284),rgba(22, 23, 23, 0)), url(../Images/img14.jpg) no-repeat center center;
    background-size: cover;
    padding: 220px 40px;
    color: #edf6f9;
  }
  .title-1{
      font-weight: 400;
  }
  
  .banner-title {
    font-size: 60px;
  }
  .text-shadow{
      text-shadow: 2px 2px 6px black;
      font-weight: 600;
  }
  .text{
    color:linear-gradient(rgba(17, 50, 186, 0.775),rgb(104, 161, 226));
    font-size: 80;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
  }
  .btn-1{
    background: linear-gradient(rgba(17, 50, 186, 0.775),rgb(104, 161, 226));
    border: none;
    padding: 15px;
  }
  
  
  
  @media only screen and (max-width: 768px) {
    .carousel-one,
    .carousel-two,
    .carousel-three {
      padding: 50px 20px;
    }
    .banner-title {
      font-size: 30px;
    }
  }
  .baner-color{
    background:linear-gradient(rgba(17, 50, 186, 0.775),rgb(104, 161, 226));
  }
  .banner-text{
   font-weight: 900;
  }




  
  
  @media only screen and (max-width: 400px) {
    .banner-title {
      font-size: 24px;
      margin: 0 !important;
    }
    .banner-sub-title {
      font-size: 14px;
      margin: 0 !important;
    }
    .banner-text {
      font-size: 14px;
      margin-bottom: 10px !important;
    }
  }